.button .dashicons {
    padding-top: 3px;
}

.count-cwp-input-prefix {
    background: #dcdcdc;
    border: 1px solid #ccc;
    padding: 3px;
    cursor: pointer;
}

.count-cwp-about {
    padding: 20px;
    background: #fff;
    margin: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    float: right;
    width: 280px;
}

.count-cwp-form {
    overflow: hidden;
}

.count-cwp-product-img {
    float: left;
    margin-right: 20px;
}

.count-cwp-developed-by {
    text-align: center;
}

.count-cwp-developed-by img {
    position: relative;
    top: 10px;
    margin-left: 5px;
}

@media only screen and (max-width: 1179px) {
    .count-cwp-about {
        width: auto;
        float: none;
        margin: 20px 0;
    }
    .count-cwp-form {
        margin: 40px 0;
    }
}

.web357-count-cwp {
    border: 1px solid #e4dfdf;
    margin: 5px;
    text-align: center;
    padding: 16px 4px;
}
.web357-count-cwp .w357-word-count,
.web357-count-cwp .w357-char-count,
.web357-count-cwp .w357-paragraphs-count,
.web357-count-cwp .w357-spaces-count {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    color: #ccc;
}
.web357-count-cwp .w357-ml25 {
    margin-left: 25px;
}
.web357-count-cwp .w357-wordCount,
.web357-count-cwp .w357-charCountNoSpace,
.web357-count-cwp .w357-paragraphsCount,
.web357-count-cwp .w357-spacesCount {
    padding-left: 5px;
    font-weight: 700;
    color: #999;
}
.web357-count-cwp .w357-copyright-link {
    font-size: 10px;
    margin-top: 10px;
}
.web357-count-cwp .w357-copyright-link a {
    color: #cfcfcf;
    text-decoration: none;
}
